<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <% order.products.forEach((product) => { %>
                <tr>
                    <td><%= product.productId.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.quantity %></td>
                    <td><%= product.price * product.quantity %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
</body>
</html>
